body {
    background-image: url('bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
